.macbook-pro {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.macbook-pro .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1459px;
  height: 3261px;
  position: relative;
}

.macbook-pro .overlap {
  position: absolute;
  width: 1641px;
  height: 161px;
  top: 0;
  left: 0;
  background-color: #1da79e;
}

.macbook-pro .text-wrapper {
  position: absolute;
  top: 45px;
  left: 29px;
  font-family: "Poller One-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .overlap-group {
  position: absolute;
  width: 1263px;
  height: 146px;
  top: 256px;
  left: 145px;
  background-color: #f900ff;
  border-radius: 27px;
}

.macbook-pro .element {
  position: absolute;
  width: 87px;
  height: 85px;
  top: 29px;
  left: 173px;
  object-fit: cover;
}

.macbook-pro .takbiratul-ihram {
  position: absolute;
  width: 674px;
  top: 5px;
  left: 272px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .line {
  width: 1263px;
  height: 4px;
  top: 462px;
  left: 145px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .img {
  width: 1282px;
  height: 2px;
  top: 749px;
  left: 126px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .line-2 {
  width: 1282px;
  height: 2px;
  top: 1045px;
  left: 127px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .line-3 {
  width: 1282px;
  height: 2px;
  top: 1368px;
  left: 148px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .line-4 {
  width: 1282px;
  height: 2px;
  top: 1675px;
  left: 129px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .line-5 {
  width: 1282px;
  height: 2px;
  top: 1962px;
  left: 121px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .line-6 {
  width: 1282px;
  height: 2px;
  top: 2293px;
  left: 139px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .line-7 {
  width: 1282px;
  height: 2px;
  top: 2589px;
  left: 139px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .line-8 {
  width: 1282px;
  height: 2px;
  top: 2941px;
  left: 158px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .overlap-2 {
  position: absolute;
  width: 1263px;
  height: 146px;
  top: 520px;
  left: 145px;
  background-color: #ffd700;
  border-radius: 27px;
}

.macbook-pro .iftitah-dibaca {
  position: absolute;
  width: 642px;
  top: 30px;
  left: 284px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .element-2 {
  position: absolute;
  width: 110px;
  height: 93px;
  top: 21px;
  left: 155px;
  object-fit: cover;
}

.macbook-pro .overlap-3 {
  position: absolute;
  width: 1263px;
  height: 145px;
  top: 1132px;
  left: 145px;
  background-color: #00fb55;
  border-radius: 27px;
}

.macbook-pro .rukuk-dibaca-setelah {
  position: absolute;
  width: 652px;
  top: 23px;
  left: 308px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .element-3 {
  position: absolute;
  width: 110px;
  height: 92px;
  top: 23px;
  left: 180px;
  object-fit: cover;
}

.macbook-pro .overlap-4 {
  position: absolute;
  width: 1263px;
  height: 145px;
  top: 1438px;
  left: 148px;
  background-color: #ed2121;
  border-radius: 27px;
}

.macbook-pro .itidal-dibaca {
  position: absolute;
  width: 400px;
  top: 24px;
  left: 320px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .element-4 {
  position: absolute;
  width: 139px;
  height: 93px;
  top: 26px;
  left: 167px;
  object-fit: cover;
}

.macbook-pro .overlap-5 {
  position: absolute;
  width: 1263px;
  height: 146px;
  top: 829px;
  left: 145px;
  background-color: #47689a;
  border-radius: 27px;
}

.macbook-pro .surah-al-fatihah {
  position: absolute;
  width: 642px;
  top: 5px;
  left: 298px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .element-5 {
  position: absolute;
  width: 101px;
  height: 96px;
  top: 24px;
  left: 175px;
  object-fit: cover;
}

.macbook-pro .overlap-6 {
  position: absolute;
  width: 1263px;
  height: 146px;
  top: 1744px;
  left: 140px;
  background-color: #479a9a;
  border-radius: 27px;
}

.macbook-pro .sujud-dibaca-setelah {
  position: absolute;
  width: 412px;
  top: 27px;
  left: 322px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .element-6 {
  position: absolute;
  width: 110px;
  height: 128px;
  top: 18px;
  left: 184px;
  object-fit: cover;
}

.macbook-pro .overlap-7 {
  position: absolute;
  width: 1263px;
  height: 146px;
  top: 2049px;
  left: 140px;
  background-color: #929292;
  border-radius: 27px;
}

.macbook-pro .duduk-iftiras-dibaca {
  position: absolute;
  width: 422px;
  top: 30px;
  left: 322px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .element-7 {
  position: absolute;
  width: 115px;
  height: 107px;
  top: 21px;
  left: 187px;
  object-fit: cover;
}

.macbook-pro .overlap-8 {
  position: absolute;
  width: 1263px;
  height: 145px;
  top: 2359px;
  left: 149px;
  background-color: #ff6b00;
  border-radius: 27px;
}

.macbook-pro .tasyahud-tahiyat {
  width: 632px;
  top: 5px;
  left: 322px;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .element-8 {
  position: absolute;
  width: 124px;
  height: 120px;
  top: 18px;
  left: 179px;
  object-fit: cover;
}

.macbook-pro .overlap-9 {
  position: absolute;
  width: 1282px;
  height: 145px;
  top: 2677px;
  left: 139px;
  background-color: #337eee;
  border-radius: 27px;
}

.macbook-pro .p {
  width: 633px;
  top: 5px;
  left: 341px;
  position: absolute;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .element-9 {
  position: absolute;
  width: 145px;
  height: 117px;
  top: 19px;
  left: 193px;
  object-fit: cover;
}

.macbook-pro .overlap-10 {
  position: absolute;
  width: 1263px;
  height: 146px;
  top: 3026px;
  left: 139px;
  background-color: #80c358;
  border-radius: 27px;
}

.macbook-pro .salam-dibaca-setelah {
  position: absolute;
  width: 564px;
  top: 23px;
  left: 323px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .element-10 {
  position: absolute;
  width: 136px;
  height: 117px;
  top: 18px;
  left: 177px;
  object-fit: cover;
}

.macbook-pro .takbiraltuh-ihram {
  width: 135px;
  height: 120px;
  top: 267px;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .takbiraltuh-ihram-2 {
  width: 138px;
  height: 139px;
  top: 523px;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .takbiraltuh-ihram-3 {
  width: 138px;
  height: 139px;
  top: 833px;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .takbiraltuh-ihram-4 {
  width: 118px;
  height: 91px;
  top: 1150px;
  left: 12px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .takbiraltuh-ihram-5 {
  width: 144px;
  height: 140px;
  top: 1442px;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .takbiraltuh-ihram-6 {
  width: 128px;
  height: 91px;
  top: 1768px;
  left: 7px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .takbiraltuh-ihram-7 {
  width: 128px;
  height: 91px;
  top: 2068px;
  left: 7px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .takbiraltuh-ihram-8 {
  width: 128px;
  height: 132px;
  top: 2350px;
  left: 3px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .takbiraltuh-ihram-9 {
  width: 126px;
  height: 91px;
  top: 2702px;
  left: 9px;
  position: absolute;
  object-fit: cover;
}

.macbook-pro .takbiraltuh-ihram-10 {
  width: 116px;
  height: 91px;
  top: 3058px;
  left: 15px;
  position: absolute;
  object-fit: cover;
}

body{
  margin: 0;
}

a{
  color: #000000;
  text-decoration: none;
}