.macbook-pro {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .macbook-pro .div {
    background-color: #ffffff;
    width: 1641px;
    height: 825px;
    position: relative;
  }
  
  .macbook-pro .overlap {
    position: absolute;
    width: 1641px;
    height: 161px;
    top: 0;
    left: 0;
    background-color: #1da79e;
  }
  
  .macbook-pro .text-wrapper {
    position: absolute;
    top: 45px;
    left: 69px;
    font-family: "Poller One", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .macbook-pro .overlap-group {
    position: absolute;
    width: 879px;
    height: 611px;
    top: 196px;
    left: 325px;
  }

  body{
    margin: 0;
  }

  a{
    text-decoration: none;
    color: #000000;
  }
  
  .macbook-pro .takbir {
    position: absolute;
    width: 416px;
    height: 443px;
    top: 0;
    left: 463px;
    object-fit: cover;
  }
  
  .macbook-pro .arti-al-fatihah {
    position: absolute;
    width: 507px;
    height: 611px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  