*{
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a{
  color: black;
  text-decoration: none;
}

.div {
  background-color: #ffffff;
  overflow: hidden;
}

.div .overlap-group {
  width: 1641px;
  height: 161px;
  top: 0;
  left: 0;
  background-color: #1da79e;
  position: relative;
}
.div .text-wrapper {
  position: absolute;
  top: 45px;
  left: 29px;
  font-family: "Poller One-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 64px;
  line-height: normal;
}
.div .arab{
  text-align: left;
  font-size: 25px;
  padding: 20px;
}
.div .arab p{
  text-align: left;
  font-size: 20px;
}
.div .latin{
  font-size: 20px;
  padding: 20px;
}

a{
  color: #000000;
  text-decoration: none;
}