.macbook-pro {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.macbook-pro .div {
  background-color: #ffffff;
  width: 1641px;
  height: 721px;
  position: relative;
}

.macbook-pro .overlap-group {
  position: absolute;
  width: 1641px;
  height: 161px;
  top: 0;
  left: 0;
  background-color: #1da79e;
}

.macbook-pro .text-wrapper {
  position: absolute;
  top: 45px;
  left: 69px;
  font-family: "Poller One-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .overlap {
  position: absolute;
  width: 1071px;
  height: 434px;
  top: 253px;
  left: 84px;
}

.macbook-pro .takbir {
  position: absolute;
  width: 522px;
  height: 434px;
  top: 0;
  left: 0;
  object-fit: cover;
}

body{
  margin: 0;
}

.macbook-pro .arti-al-fatihah {
  position: absolute;
  width: 564px;
  height: 251px;
  top: 91px;
  left: 507px;
  object-fit: cover;
}

a{
  color: #000000;
  text-decoration: none;
}