.macbook-pro {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.macbook-pro .div {
  background-color: #ffffff;
  width: 1641px;
  height: 870px;
  position: relative;
}

.macbook-pro .overlap-group {
  position: absolute;
  width: 1641px;
  height: 161px;
  top: 0;
  left: 0;
  background-color: #1da79e;
}

.macbook-pro .text-wrapper {
  position: absolute;
  top: 45px;
  left: 69px;
  font-family: "Poller One-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-pro .overlap {
  position: absolute;
  width: 911px;
  height: 583px;
  top: 244px;
  left: 463px;
}

.macbook-pro .takbir {
  position: absolute;
  width: 522px;
  height: 583px;
  top: 0;
  left: 389px;
  object-fit: cover;
}



.macbook-pro .latin-arti {
  position: absolute;
  width: 437px;
  height: 423px;
  top: 85px;
  left: 0;
  object-fit: cover;
}

.macbook-pro .athaya {
  position: absolute;
  width: 375px;
  height: 394px;
  top: 329px;
  left: 69px;
  object-fit: cover;
}

a{
  color: #000000;
  text-decoration: none;
}

body{
  margin: 0;
}